{% extends 'base.html' %}
{% block title %}
 Home page
{% endblock title %}
{% block content %}
 <h1>
 <a href="{% url 'posts' %}">➜</a>
</h1>
<h1 style="text-align: center; font-family: Showcard Gothic;">
    ♡🐾 HELLO THIS WEB SITE ARE DOGS⠀♡🐾 ⠀
</h1>
<h3 style="font-family: Bahnschrift SemiCondensed;">
Dogs are wonderful and loyal companions that have been domesticated for
 thousands of years.
 They are often referred to as "man's best friend"
 due to their close bond with humans and their ability to provide companionship, love, and support.
There are hundreds of dog breeds, each with its 
own unique characteristics, appearance, and temperament. 
From small and energetic breeds like the Chihuahua and
 Dachshund to large and gentle breeds like the Golden Retriever and Great Dane, there is a dog for nearly every lifestyle and preference.
Dogs have been bred for various purposes throughout history. 
Some breeds were developed for specific tasks such as herding 
livestock, guarding property, or assisting in hunting.
 Other breeds were bred for their companionship, such as the Toy
  Poodle or the Cavalier King Charles Spaniel.
One of the remarkable qualities of dogs is their intelligence. 
They can be trained to perform a wide range of tasks and commands, 
from basic obedience to complex tricks and tasks. Many working dogs, such as guide dogs for the visually impaired or search and rescue dogs, showcase their intelligence and trainability in their respective fields.
</h3>
{% endblock content %}